:root {
    --cell-size:1000px;
    
    --color: #6E7D83;
    --color-set:#0a0b0b; 
    --line: 10px;
    }
    .game{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
body{
    margin:0;
    background-color: burlywood;
}
button{
    cursor: pointer;
}
.enterButton {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
  }
  .restartButton {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
  }
  .grid { 
    width: 90%; 
    height: 300px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 60px auto; 
    } 
    
    .grid img { 
    margin: 2px; 
    transform-style: preserve-3d; 
    transition: transform 0.5s; 
    } 
    
    .grid img.flip { 
    transform: rotateY(180deg); 
    } 
    
    .popup { 
    background: red; 
    width: 200px; 
    height: 200px; 
    z-index:20;
    position: fixed; 
    top: 100px;
    left: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    }
    
    .data { 
    display: flex; 
    justify-content: space-between; 
    padding: 20px 30px; 
    font-size: 23px; 
    } 
    
    .data span { 
    color: rgb(25, 4, 62);
    font-size: 30px; 
    }
  .disable{
    color: #100f0f
    ;
  }
/* glassware */
#kolsch{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2xq3SO9jg51xR36qy7c9pf1l8H1xiJzRTSlqlResSSOOnvd0aepy7QrkexjrDhy5GNPM&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}

#saison{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr_cf_eQ0fnZrdfNJ5MZwYZeT-3hGMx4YdGQ&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#marzen{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_QbG4rIAiFTFIa6AYhKVI91wXMdYabMT3RTHsIs6zT5tCQwep5ZWa070FQa677AVGb9A&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#trappist{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiis_a5S5YGOo4aS9SN3E1nkbEe4glr1tAZA&usqp=CAU`");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#hefeweizen{
    background-image: url("https://chamberswineandliquor.com/wp-content/uploads/2021/12/8015711440.jpg");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#ipa{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2xq3SO9jg51xR36qy7c9pf1l8H1xiJzRTSlqlResSSOOnvd0aepy7QrkexjrDhy5GNPM&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#lambic{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2o9hK_oH4l9RTbnEbeebhk3i6-4cdsNj4FQ&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#bitter{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRby7ck-edZlm-WHnRdjDGHSWsySazc3A1FhQ&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}

/* beers */
#stange{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYCdMR9nPVifq5PLvSlycGMgZR_YwyzF9mMw&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}

#tulip{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTcGBesqF_Oh9Bn7gtVmQMUzlFfuv6dMA9wg&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#stein{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbzuqCBJWEk0UhwV1EHSwy4NfAQpDAX6kewg&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#chalice{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnD_n3eAj1WlxLENGq0CAvd__ecDrDEmAGTMHJfcUuXzcljj0cSwzqNLlHAQwZ7xqEPHo&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#weizenglass{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS43IpOWBhbztJvrIJotPEjktK7YNllE0cPng&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#spiegelau{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdT2f_2Vew8PrTCnZxSWNpfQGAcP_4dlJzeg&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#tumbler{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZzLI6FC57A-rN5NkY_Oogc8pXy0ZLlwvoTA&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
#nonic{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRby7ck-edZlm-WHnRdjDGHSWsySazc3A1FhQ&usqp=CAU");
    background-size: 80% 80%;
    background-repeat:no-repeat;
    background-position:center;
}
.cell{
    width: var(--cell-size);
    height:var(--cell-size);
    border: 8px solid rgb(59, 51, 51);
    display: flex;
    Justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
}
////////////////////////////////
////Game Design
.bstyle{
    position: relative;
    width: 100px;
    height: 100px;  
    cursor: pointer;
}
.bstyle-face,
.bstyle-blank{
    position: absolute;
    border-radius: 10px;
    width: 100px;
    height: 100px;  
    background: grey;
    transition: transform .5s cubic-bezier(.4,0,.2,1);
   backface-visibility: hidden ;
}
.bstyle-blank {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.bstyle.appeared .bstyle-face {
    transform: rotateY(180deg) rotateZ(50deg);
}

.bstyle.appeared .bstyle-blank {
    transform: rotateY(0) rotateZ(0);
}
.grid{
    width: var(--cell-size);
    height:var(--cell-size);
    border: 8px solid rgb(100, 42, 42);
    display: flex;
    Justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid rgb(54, 134, 98);
    text-align: center;
  }
  